
body {
  font-family: "Times New Roman";
  width: 500px;
  text-align: center;
  margin:0 auto; 
}

h3 {
  padding: 0 0 5px;
}

p {
  padding: 0 10px;
}

.animal-card{
  border: solid white;
  border-radius: 15px;
    border-collapse: separate;
  padding: 10px 20px 20px 20px;
  background-color: #a6a6a6;
  background-clip: padding-box;
}

.animal-info{
  border: solid white;
  border-radius: 15px;
    border-collapse: separate;
  padding: 10px 20px 10px 20px;
  background-color: #a6a6a6;
}

.facts-list {
  list-style: none;
  padding: 0 10px;
}

.label {
  font-style: normal;
  font-weight: bold;
}

.wolf {
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px white;
  margin-bottom: 20px;
}

.fact{
  padding: 0 10px;
  font-style: italic;
}